[submodule "resources/libs/opencv_contrib"]
	path = resources/libs/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "resources/libs/opencv"]
	path = resources/libs/opencv
	url = https://github.com/opencv/opencv.git
